:root {
	--font-heading: serif;
	--font-text: sans-serif;
	--font-weight-heading: 400;
	--page-limit: 50rem;
	--text-h1: 2rem;
	--text-h2: 1.75rem;
	--text-h3: 1.5rem;
	--text-h4: 1.25rem;
	--text-h5: 1rem;
}

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--color-surface-default);
	color: var(--color-text-primary);
	display: flex;
	flex-direction: column;
	font-family: var(--font-text);
	min-height: 100vh;
	transition: background-color 0.2s ease, color 0.2s ease;
}

fc-router {
	flex: 1;
}

fc-header:not(:defined) {
	display: block;
	min-height: 4rem;
}
